{% extends "base.html" %}

{% block title %} Login{% endblock %}

{% block body %}

<form action="/authentification" method="post">

    {% if error %}
        <div class="info-box error">
            <p>
                {{ error }}
            </p>
        </div>
    {% endif %}

    <input class="form-input" name="username" type="text" placeholder="Username">
    <input class="form-input" name="password" type="password" placeholder="Password">
    <button class="form-submit-button">
        Login
    </button>
</form>

{% endblock %}
