{% extends "base.html" %}

{% block title %} News{% endblock %}

{% block body %}

    <div class="info-box d-none">
        <p class="info-message">

        </p>
    </div>

    <h3>All news</h3>

    <div class="news-list">
        {% for news in newsList %}
            <div class="news-item" id="{{ news.id }}">
                <div class="news-details">
                    <span class="news-title">
                        {{ news.title }}
                    </span>
                    <span class="news-description">
                        {{ news.description }}
                    </span>
                </div>
                <div class="action-buttons">
                    <a class="edit-button" data-news-id="{{ news.id }}">
                        <img src="/img/icons/pencil.svg" alt="">
                    </a>
                    <a class="remove-button" data-news-id="{{ news.id }}">
                        <img src="/img/icons/close.svg" alt="">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="action-info">
        <h3 class="action-title">Create News</h3>
        <a class="cancel-edit-button d-none">
            <img src="/img/icons/close.svg" alt="">
        </a>
    </div>

    <div>
        <form id="news-form" data-news-id="" action="/news/addNews" method="post">
            <input class="form-input" name="title" type="text" placeholder="Title">
            <textarea class="form-input textarea" name="description" placeholder="Description" rows="10"></textarea>
            <button class="form-submit-button" type="submit">
                Create
            </button>
            <a class="form-submit-button" href="/authentification/logout">
                Logout
            </a>
        </form>
    </div>

    <script src="/js/news_script.js"></script>

{% endblock %}
